<!DOCTYPE html>
<html>
<head>
  <title>Fearless</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <link rel="icon" 
      type="image/png" 
      href="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Harvard_Crimson.svg/2000px-Harvard_Crimson.svg.png" />

</head>
<body>


<%= yield %>

</body>
</html>
